color1 = #2caaff
color2 = #fdd700
color3 = #334F9A
color4 = #111111

body
	background-color #f4f4f4
	font-size 14px
	font-family: 'Montserrat', sans-serif;

a
.btn
	&:active
	&:focus
		box-shadow none
		outline none
table
	p
		margin-bottom 4px !important

.loader
	background-color rgba(255,255,255, .9)
	align-items center
	display flex
	justify-content center
	height 100vh
	left 0px
	position fixed
	top 0px
	width 100%
	z-index 1000
	.box
		display block
		width 160px
		.cart
			overflow hidden
			width 100%
			img
				animation loading_image 2s linear infinite
				margin-left -100%
				display block
				position relative
				width 120px
		.load
			margin-left calc(50% - 30px)
			height 60px
			width 60px

.btop1
	border-top 1px solid #d6d6d6

.mtop8
	margin-top 8px
.mtop16
	margin-top 16px
.mtop24
	margin-top 24px
.mtop32
	margin-top 32px

.pleft0
	padding-left 0px !important
.ptop16
	padding-top 16px
.hidden
	display none

.nomargin
	margin 0px !important

.form-control
	&:hover
	&:focus
		box-shadow none

nav
	background-color #fff
	padding 0px !important
	.navbar-brand
		padding 0px !important
		img
			width 200px
	.navbar-toggler
		color color1
		&:active
		&:focus
			box-shadow none
			outline none
	.navbar-nav
		li.nav-item
			a.nav-link
				border-bottom 2px solid #fff
				color #000
				font-size .9em
				margin-right 4px
				margin-bottom -1px
				padding 16px !important
				&:hover
					border-bottom 2px solid color1
					color color3
			a.active
				border-bottom 2px solid color1
			a.btn
				border 1px solid color1
				color #000
				&:hover
					background-color color2
			ul.dropdown-menu
				border-radius 0px 0px 4px 4px
				background-color #fff
				border 0px
				top 96% !important
				li
					border-bottom 1px solid #fff
					a
						color #000
						display block
						font-size .9em !important
						float none
						width 100%
						i
							color color3
					&:last-child
						border-bottom 0px
					&:hover
						background-color #f7f7f7
		li.link-acc
			overflow hidden
			a
				display inline-block
				float left
				margin-right 0px !important
				&:first-child
					border-radius 4px 0px 0px 4px
					border-right 1px solid #fff
				&:last-child
					border-radius 0px 4px 4px 0px
				img
					position relative
					top -1px
					margin-right 6px
					width 24px
		li.link-user
			overflow initial
			a
				border 0px !important
				img
					border-radius 50%
				&:hover
					background-color transparent !important

.wrapper
	.panel
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #2caaff
		width 100%
		.header
			border-bottom 1px solid #e8e8e8
			h2.title
				display inline-block
				color #19213d
				font-size 1.1em
				margin-bottom 0px
				padding 12px 16px
			ul
				display inline-block
				float right
				margin-right 12px
				li
					display inline-block
					position relative
					a
						color #333
						display inline-block
						padding 10px
						&:hover
							background-color #f6f6f6
							color #222
							text-decoration none
						i
							 color  #2caaff
					ul
						background-color #fff
						border 1px solid #f0f0f0
						display none
						float none
						position absolute
						right -16px
						width 200px
						li
							display inline-block
							border-bottom 1px solid #f0f0f0
							width 100%
							&:last-child
								border-bottom 0px
							a
								display block
								width value
					&:hover
						ul
							display block
		.inside
			padding 16px
			.nav
				.nav-link
					border 1px solid #2caaff
					margin-right 8px
					&:hover
						background-color #2caaff
						color #fff
			.form_search
				display none
				margin-bottom 16px
				.btn
					width 100%
			.big_count
				display block
				font-size 2em
				text-align center
				width 100%
			.edit_avatar
				a
					display block
					margin 0px auto
					position relative
					width 140px
					.overlay
						align-items center
						background-color rgba(0, 0, 0, .55)
						border-radius 50%
						color #fff
						display none
						font-size 2em
						justify-content center
						height 140px
						position absolute
						width 100%
						img
							width 60px
					&:hover
						.overlay
							display flex
				img
					border-radius 50%
					display block
					width 100%
				.form-control
					display none
			.btn-primary
				background-color color1
				border 0px
				padding 8px 32px !important
				&:hover
					background-color color2
					color #000

.home_action_bar
	background-color #fff
	border-radius 4px
	margin-top 24px
	padding 16px
	.categories
		display block
		position relative
		a.link
			background-color #111111
			border-radius 4px
			color #fff
			display block
			padding 12px
			text-transform uppercase
			text-decoration none
			width 100%
			&:hover
				background-color color1 !important
		&:hover
			ul
				display block
		ul
			display none
			list-style none
			margin 0px
			padding 0px
			position absolute
			width 100%
			z-index 99
			li
				a
					background-color #f8f8f8
					border-radius 0px
					color #111111
					display block
					padding 12px
					text-transform uppercase
					text-decoration none
					img
						position relative
						margin-top -5px
						margin-right 12px
						width 40px
					&:hover
						background-color color1
						color #fff
	.input-group
		position relative
		i
			position absolute
			font-size 1.4em
			left 12px
			top 14px
			z-index 10
		.form-control
			border-radius 4px 0px 0px 4px
			padding 10px 16px
			padding-left 46px
			z-index 2
			&:focus
				border 1px solid color1
				&::placeholder
					color color1
		&:focus-within
			i
				color color1
			.btn
				background-color color1
				color #fff
		.btn
			background-color #111111
			color #fff
			&:hover
				background-color color1

.mdslider
	display flex
	flex-wrap wrap
	margin-top 24px
	min-height 522px
	overflow hidden
	position relative
	width 100%
	.md-slider-item
		align-items center
		border-right 1px solid #fff
		border-radius 4px
		display none
		background-color #fff
		color #fff
		justify-content center
		position absolute
		min-height 380px
		transition .3s all ease-in-out
		width 100% !important
		.col-md-7
		.col-md-5
			padding 0px
		.row
			margin 0px
			padding 0px
		.content
			align-items center
			color #333
			display flex
			height 100%
			justify-content center
			h2
			p
				display block
				width 100%
			.cinside
				text-align left
				border-left 2px solid color1
				padding-left 20px
				max-width 80%
				h2
					font-size 1.8em
				.btn
					background-color color2
					color #333
					display inline-flex
					margin 0px auto
	ul.navigation
		display block
		margin 0px
		padding 0px
		position absolute
		overflow hidden
		top calc(50% - 18px)
		z-index 9
		width 100%
		li
			display inline-flex
			float left
			a
				align-items center
				background-color rgba(0, 0, 0, .5)
				border-radius 50%
				display flex
				justify-content center
				font-size 1.4em
				height 36px
				width 36px
				text-decoration none
				color #fff
			&:first-child
				margin-left 32px
				a
					i
						position relative
						margin-left -2px
						margin-top 2px
			&:last-child
				float right
				margin-right 32px
				a
					i
						position relative
						margin-left 2px
						margin-top 2px

.load_more_products
	margin-bottom 24px
	a
		display block
		border-radius 4px
		background-color color1
		color #fff
		font-size .8em
		position relative
		margin-left 30%
		padding 8px
		width 40%
		text-align center
		text-transform uppercase
		text-decoration none
		&:hover
			background-color color3

.products_list
	display block
	paddding 0px
	overflow hidden
	margin-top 12px
	width 100%
	.product
		display inline-block
		float left
		margin-bottom 24px
		margin-right 2.4%
		position relative
		width 18%
		&:nth-child(5n)
			margin-right 0px
		.image
			display block
			width 100%
			position relative
			overflow hidden
			.overlay
				background-color rgba(0,0,0,.5)
				border-radius 4px
				display none
				flex 1
				height 100%
				position absolute
				width 100%
				transition .3s all ease-in-out
				z-index 9
				.btns
					display block
					bottom 8px
					position absolute
					left 3%
					overflow hidden
					width 94%
					a
						background-color #fff
						border-radius 4px
						box-sizing border-box
						color color3
						display block
						font-size 1.2em
						float left
						margin-right 2%
						padding 6px
						text-align center
						width 32%
						&:last-child
							margin-right 0px
			img
				display block
				border-radius 4px
				width 100%
				transform scale(1)
				transition .3s all ease-in-out
				z-index 4
		&:hover
			.image
				img
					transform scale(1.1);
				.overlay
					display flex
		a
			display block
			text-decoration none
			position relative
			width 100%
			.title
			.price
			.options
				display block
				width 100%
			.title
				margin-top 8px
			.title
				color #111111
				display block
				font-size 1.2em
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				width 100%
			.price
				font-size 1.4em
				font-weight bold
				margin-top 4px
				color #111111
			
.favorite_active
	background-color #ea4c89 !important
	border 1px solid #d9256a !important
	color #fff !important			

.product_single
	background-color #fff
	border-radius 4px
	margin-top 32px
	padding 12px
	.btn-success
		background-color #00c841
		border 0px
		color #fff
		width 100%
		&:hover
			background-color #00966b
	h2.title
		font-size 2em
		font-weight 500
		margin-bottom 6px
	h5.title
		font-size 1em
	.category
		margin-bottom 8px
		ul
			list-style none
			margin 0px
			overflow hidden
			padding 0px
			li
				display inline-flex
				margin 0px 6px
				float left
				.next
					display block
					color #666
					font-size .6em
					position relative
					margin-top 5px
				a
					color #333
					display inline-block
					font-size .9em !important
					text-decoration none
					img
						display block
						height 13px
						width 13px
					i
						color color3
					&:hover
						text-decoration underline
				&:first-child
					margin-left 0px
	.inside
		padding 12px
	.content
	.before_quantity
		border-top 1px solid #f0f0f0
		margin-top 24px
		padding-top 24px
		.btn
			font-size .9em
		.btn-favorite
			border 1px solid #d6d6d6
			background-color #f6f7f8
			display block
			text-align center
			width 100%
			&:hover
				background-color #ea4c89 !important
				border 1px solid #d9256a !important
				color #fff !important
	.quantity
		overflow hidden
		.amount_action
			align-items center
			background-color color1
			border-radius 50%
			display flex
			color #fff
			justify-content center
			font-size .8em
			margin-top 4px
			float left
			height 28px
			text-decoration none
			width 28px
			&:first-child
				margin-right 8px
			&:last-child
				margin-left 8px
		.form-control
			float left
			width calc(100% - 80px)
	.variants
		p
			margin-bottom 4px
		ul
			margin 0px
			padding 0px
			li
				display inline-block
				margin-bottom 6px
				margin-right 6px
				a
					border 1px solid #d6d6d6
					border-radius 18px
					color #333
					display block
					font-size .7em
					font-weight normal
					padding 8px 16px
					text-decoration none
					&:hover
						background-color color1
						border 1px solid color1 !important
						color #fff
					span.price
						font-size 1.1em
						font-weight 700
				a.active
					background-color color1
					border 1px solid color1 !important
					color #fff
	

.slick-next
	right 8px
.slick-prev
	left 8px
.slick-arrow
	align-items center
	background-color rgba(0, 0, 0, .6)
	border-radius 50%
	display flex
	justify-content center
	height 36px
	width 36px
	z-index 90
	&:before
		position relative
		left 0px
		top 1px
	&:hover
	&:active
	&:focus
		background-color rgba(0, 0, 0, .75)
.slick-active
.slick-current
	box-shadow none !important
	outline none !important

.home_title
	font-size 1.8em
	font-weight 700


.store
	margin-bottom 24px
	.categories_list
		background-color #fff
		border-radius 8px
		h2.title
			background-color #212529
			border-radius 8px 8px 0px 0px
			color #fff
			display block
			font-size 1.1em
			margin 0px
			padding 12px
		ul
			list-style none
			margin 0px
			padding 0px
			li
				border-bottom 1px solid #d6d6d6
				&:last-child
					border 0px
					a
						border-radius 0px 0px 8px 8px
				a
					color #212529
					display block
					text-decoration none
					font-size 1em
					padding 8px 12px
					img
						margin-right 8px
						width 36px
					&:hover
						background-color color1
						color #fff
	.store_white
		background-color #fff
		border 1px solid #f0f0f0
		border-radius 8px
		padding 24px
		h2.home_title
			margin-top 0px
			font-size 1.2em !important
			margin-bottom 24px

.btn-delete
	align-items center
	background-color #C70D0E
	border-radius 50%
	color #fff
	display flex
	font-size 1em
	justify-content center
	height 40px
	width 40px
	&:hover
		background-color #D93F5D
		color #fff

.cart
	.btn-dark
		font-size .8em
		color #fff !important
	.inside
		padding 16px
	.items
		.price_discount
			font-weight 700
			.price_initial
				color #777777
				text-decoration line-through !important
			.price_unit
				color #C70D0E
		.panel
			background-color #fff
		.btn-delete
			align-items center
			background-color #C70D0E
			border-radius 50%
			color #fff
			display flex
			font-size 1em
			justify-content center
			height 40px
			width 40px
			&:hover
				background-color #D93F5D
		a
			color color4
			text-decoration none
		.form_quantity
			background-color #fff
			border 1px solid #f0f0f0
			border-radius 4px
			overflow hidden
			.form-control
				display block
				border 0px
				float left
				width 70%
			button
				border 0px
				background-color color1
				border-box box-sizing
				color #fff
				display block
				float left
				padding 8.5px !important
				width 30%
				&:hover
					background-color color3
	.no_items
		background-color #fff
		border-radius 6px
		display block
		padding 32px !important
		p
			display block
			text-align center
			&:first-child
				img
					width 150px
			&:last-child
				margin-top 32px
				a
					border-radius 6px
					background-color color4
					color #fff
					display inline-block
					padding 8px 16px
					text-decoration none
					text-transform uppercase
	.payments_methods
		a
			border-radius 6px
			border 1px solid #f6f6f6
			display block
			margin-bottom 6px
			padding 8px 18px
			width 100%
			&:last-child
				margin-bottom 0px
			&:hover
				background-color color1
				color #fff
		a.active
			background-color color1
			color #fff

@media only screen and (max-width 728px)
	nav
		padding 16px 8px !important
		.navbar-nav
			display block !important
			margin-top 16px
			overflow hidden
			li.nav-item
				display block
				float left
				margin-right 0px
				margin-bottom 12px
				width 50%
				a.nav-link
					text-align center
					span
						display block
						font-size 1em
						font-weight normal
						margin-top 4px
						width 100%
					i
						font-size 3em
				&:last-child
					float inline-end
					width 100%
			li.link-acc
				a
					font-size 1.2em
					width 50% !important
					i
						font-size 1em !important
			li.link-user
				border 1px solid #d6d6d6 !important
				border-radius 6px
				padding 8px
				a
					display block
					font-size 1.2em
					width 100% !important
					img
						width 36px
				ul.dropdown-menu
					top 0px !important
					hr.dropdown-divider
						display none
				ul.shadow
					box-shadow none !important
	.home_action_bar
		form
			margin-top 16px
	.mdslider
		display none
	.products_list
		.product
			margin-right 2%
			width 49%
			&:nth-child(5n)
				margin-right 2% !important
			&:nth-child(even)
				margin-right 0px !important
	.product_single
		.pleft0
			padding-left 12px !important
		h2.title
			margin-bottom 8px
		.category
			background-color #f8f8f8
			padding 8px
		.inside
			padding 2px
		.before_quantity
			.btn
				margin-top 16px
	.store_white
		margin-top 24px
.mcswitch
	background-color #f0f0f0
	border-radius 20.4px
	overflow hidden
	padding 4px
	a
		border-radius 16.4px
		display block
		float left
		font-size .8em
		text-align center
		padding 8px
		width 49%
		&:hover
			background-color #fff
		&:last-child
			margin-left 2%
	a.active
		background-color color1
		color #fff
@keyframes loading_image {
	0%{
		margin-left: -100%;
	}
	100%{
		margin-left: 100%;
	}
}